<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>

    </header>

    <main>

        <section class="hero">
            <h1>TaskFlow</h1>

            <h2>Organize suas tarefas de forma simples.</h2>

            <p>
            Crie, acompanhe e organize suas atividades em um único lugar.
            </p>
            
            <div class="buttons">
                <button type="button">Nova tarefa</button>
                <button type="button">Ver tarefas</button>
            </div>
            
        </section>

    </main>

    <footer>
        <p>© 2026 TaskFlow</p>
        <p>Desenvolvido por Ágata Oliveira</p>
    </footer>

</body>
</html>